# Predicting Price Of Renting An Apartment In Lagos State.

The objective of this project is predicting the cost of renting an apartment in lagos state based on the area, number of bed rooms and number of toilets.
Data set for this project was gathered from https://tolet.ng, also scrapper for gathered the data can be found on my github here -> https://github.com/victorlenerd/toletngscrapper.

## Loading and cleaning data.

In [17]:
## Loading Data

import pandas as pd

data = pd.read_json('./data.json')

In [9]:
data.tail()

,area,no_bath,no_bed,no_toilets,price
9041,"Mafoluku road, Isolo, Mafoluku Oshodi Lagos",1,1,1,280000.0
9042,"Mafoluku road, Mafoluku Oshodi Lagos",1,1,1,280000.0
9043,,0,0,0,NaN
9044,,0,0,0,NaN
9045,,0,0,0,NaN

In [6]:
data.describe()

           no_bath       no_bed   no_toilets         price
count  9046.000000  9046.000000  9046.000000  7.846000e+03
mean      2.125138     2.170462     2.404378  3.302896e+06
std       1.588876     1.581791     1.889390  4.822354e+07
min       0.000000     0.000000     0.000000  1.000000e-02
25%       1.000000     1.000000     1.000000  5.000000e+05
50%       2.000000     2.000000     3.000000  1.000000e+06
75%       3.000000     3.000000     4.000000  2.875000e+06
max      10.000000    10.000000    10.000000  4.000000e+09

In [15]:
# The scrapper gathered some wrong values from dom elements that had the same property. It's best to drop them
data = data.dropna()

In [20]:
data.describe()

           no_bath       no_bed   no_toilets         price
count  9046.000000  9046.000000  9046.000000  7.846000e+03
mean      2.125138     2.170462     2.404378  3.302896e+06
std       1.588876     1.581791     1.889390  4.822354e+07
min       0.000000     0.000000     0.000000  1.000000e-02
25%       1.000000     1.000000     1.000000  5.000000e+05
50%       2.000000     2.000000     3.000000  1.000000e+06
75%       3.000000     3.000000     4.000000  2.875000e+06
max      10.000000    10.000000    10.000000  4.000000e+09

In [14]:
data.tail()

,area,no_bath,no_bed,no_toilets,price
9038,- Abule Egba Abule Egba Lagos,2,2,3,500000.0
9039,- Lekki Phase 1 Lekki Lagos,5,5,6,5500000.0
9040,"Awuse Estate, Opebi, Lagos Opebi Ikeja Lagos",5,5,6,2500000.0
9041,"Mafoluku road, Isolo, Mafoluku Oshodi Lagos",1,1,1,280000.0
9042,"Mafoluku road, Mafoluku Oshodi Lagos",1,1,1,280000.0

In [22]:
data['area'].

0       HI-TECH BY L.B.S Off Lekki Epe Expressway Ajah...
1                Igando/Ikotun, Lagos Ikotun Igando Lagos
2        39 Alfred Rewane Road Ikoyi Ikoyi S.w Ikoyi L...
3       Water Corporation Road Victoria Island Extensi...
4        39 Alfred Rewane Road Ikoyi Ikoyi S.w Ikoyi L...
5                  Karimu Kotun Street Lagos Island Lagos
6              Agungi/Idado Axis Lekki Agungi Lekki Lagos
7                          Ayobo/Ipaja, Lagos Ipaja Lagos
8                          Ayobo/Ipaja, Lagos Ipaja Lagos
9                          Ayobo/Ipaja, Lagos Ipaja Lagos
10           Ligali Ligali Ayorinde Victoria Island Lagos
11               - Ahmadu Bello Way Victoria Island Lagos
12                             Lakowe - Lakowe Ajah Lagos
13                             - Thomas Estate Ajah Lagos
14      Palace Road Oniru Victoria Island Extension Vi...
15      - Oniru Victoria Island Extension Victoria Isl...
16                     Ipaja, Alimosho, Lagos Ipaja Lagos
17                  Off Fola agoro akoka Akoka Yaba Lagos
18      Festiva Road, Victoria Island Extension Victor...
19
20
21
22                - Ligali Ayorinde Victoria Island Lagos
23      - Oniru Victoria Island Extension Victoria Isl...
24      Oniru Lekki right Victoria Island Extension Vi...
25                - Lekki Right Lekki Phase 1 Lekki Lagos
26                - Lekki Right Lekki Phase 1 Lekki Lagos
27            Freedom Way Ikate Lekki Phase 1 Lekki Lagos
28      Oniru - Victoria Island Extension Victoria Isl...
29      Ligali Ligali Ligali Ayorinde Victoria Island ...
                              ...
9016                                  - Ikota Lekki Lagos
9017                                  - V.g.c Lekki Lagos
9018             - Kay farm estate, Ifako Ogba Ogba Lagos
9019             Admiralty Road Lekki Phase 1 Lekki Lagos
9020                  - Command Ipaja , Ipaja Ipaja Lagos
9021
9022
9023
9024                   - Sawmill New Garage Gbagada Lagos
9025    KUSHENLA ROAD IKATE ELEGUSHI ABIOLA COURT 11 K...
9026            Ogbunike Street Lekki Phase 1 Lekki Lagos
9027            Adebayo Doherty Lekki Phase 1 Lekki Lagos
9028    Kernel street off bodethomas Bode Thomas Surul...
9029                          Ekoro Road Abule Egba Lagos
9030          Off Ogunlana drive. Ogunlana Surulere Lagos
9031            Arobieke Street Lekki Phase 1 Lekki Lagos
9032              Anjous Street Lekki Phase 1 Lekki Lagos
9033            Admiralty Road, Lekki Phase 1 Lekki Lagos
9034                              - Victoria Island Lagos
9035                - Goodnews estate , Ogombo Ajah Lagos
9036              off admiralty Lekki Phase 1 Lekki Lagos
9037         Awuse Estate, Opebi, Lagos Opebi Ikeja Lagos
9038                        - Abule Egba Abule Egba Lagos
9039                          - Lekki Phase 1 Lekki Lagos
9040         Awuse Estate, Opebi, Lagos Opebi Ikeja Lagos
9041          Mafoluku road, Isolo, Mafoluku Oshodi Lagos
9042                 Mafoluku road, Mafoluku Oshodi Lagos
9043
9044
9045
Name: area, Length: 9046, dtype: object

### Using areas.json to make area property more structured.

In [18]:
## Loading Areas
areas = pd.read_json('./areas.json')

In [19]:
areas

                                       0
0                                  Ikeja
1                               Surulere
2                                  Ojota
3                                Shomolu
4                                  Ojodu
5                                 Oshodi
6                           Kosofe/Ikosi
7                                   Yaba
8                                  Ikoyi
9                           Lagos Island
10                       Victoria Island
11                                 Lekki
12                                  Ajah
13                                 Apapa
14                                 Agege
15                                 Isolo
16                          Amuwo Odofin
17                               Ikorodu
18                           Ibeju-Lekki
19                                   Ojo
20                         Ikotun/Igando
21                            Egbe/Idimu
22                         Agbara-Igbesa
23                                 Ipaja
24                            Abule Egba
25                                 Ogudu
26                                Mushin
27                                 Okota
28                               Gbagada
29                              Maryland
...                                  ...
1331                 New garage, Gbagada
1332  LaCampaigne Tropicana, Ibeju-Lekki
1333             Eleranigbe, Ibeju-Lekki
1334                        Idado, Lekki
1335               Ogba Industrial, Ogba
1336           Ibadan north west, Ibadan
1337                        Soka, Ibadan
1338                      Alakia, Ibadan
1339                     Eleyele, Ibadan
1340                        Ojoo, Ibadan
1341                Ijaiye Orile, Ibadan
1342                       Akobo, Ibadan
1343                Alatise, Ibeju-Lekki
1344                        Ogba(Rivers)
1345            Ndoni, Ogba-Egbema-Ndoni
1346           Egbema, Ogba-Egbema-Ndoni
1347                    Omi Adio, Ibadan
1348      Ikorodu road(Ilupeju), Ilupeju
1349              Williams estate, Ojodu
1350                    Ifako-ogba, Ogba
1351                   Wempco road, Ogba
1352                         Ajiwe, Ajah
1353                    Ajayi road, Ogba
1354          Kurudu, Sub-Urban District
1355                 Snake island, Apapa
1356                 Ogba Bus-stop, Ogba
1357                 Isheri North, Ojodu
1358                               Asaba
1359    Ligali Ayorinde, Victoria Island
1360                      Isawo, Ikorodu

[1361 rows x 1 columns]